.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    /* padding: 20px; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    margin: 10px;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    margin: 10px;
    display: none;
}